/* students: Gregory smith, Daniel Daza, Jovensky Saint-Hilaire
file:styles.css
date: 9/30/2022
*/

/* CSS reset */
body, header, nav, main, footer, img, h1, ul, article, section, figure {
margin: 0;
padding: 0;
border: 0;

}
/* style rules for images */
img {
max-width: 100%;
display: block;
}

.round{
  border-radius: 6px;
}
/* styles rule for mobile view */


/* hide tab-desk */
Hide tab-desk class
.tab-desk{
  display: none;
}

/* Style rules for header content*/
header{
  text-align: center;
  font-size: 3em;
  color:  #141419;
}

header h1 {
    font-style: italic;
    }

/* style rule for navigation area */
nav{
    background-color: rgb(0, 0, 0);
    }

nav ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
}
nav li{
  border-top: 1px solid #e5e9fc;
  display: block;
  font-size: 2em;
}
nav li a {
  display: block;
  color: #ffff00;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}
nav li a:hover{
  color:black;
  background:yellow;
}

/* styles rules for main content */
main{
  padding: 2%;
  background-color: #f1e958;
  overflow: auto;
  font-family: 'Nanum Gothic Coding', monospace;

}

.bolded {
  font-weight: bold;
 }

main p{
  font-size: 1.25em;
}

.action {
    font-size: 1.75em;
    color: #f1e958;
    font-weight: bold;
    }


#basketball, #computerclub, #home, #home, #tips, #dunk, #pt{
    width: 29%;
    float: left;
    margin: 0 2%;
    }

#info {
  clear: left;
  background-color: none;
  padding: 1% 2%;
    }

#contact {
  text-align: center;
     }
    #contact a {
      color: #4645a8;
      text-decoration: none;
      font-weight: bold;
      }



/* Style rules for footer content */
    footer {
      text-align: center;
      font-size: 0.85em;
      clear: left;
      background-color: black;
      color:#f1e958;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left:0%;
      padding-right: 0%;
      }
    footer a {
      color: #f1e958;
      text-decoration: none;
      }

  /* Media Query for Desktop Viewport */
@media screen and (min-width: 900px), print {

  /*Style rule for header*/
  header{
      width:95%;

  }
  nav li{
    border-top: 1px solid #e5e9fc;
    display: block;
    font-size: 2em;
  }
  nav li a {
    display: block;
    color: #ffff00;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
  }
  nav li a:hover{
    color:black;
    background:yellow;
  }
  .basketball{
      width:30%;
      float:left;
      padding-top:1.5%;
      padding-bottom:1.5%;
      padding-left:1.5%;
      padding-right:1.5%;
  }
 .gradient{
  background: linear-gradient(to right,yellow, black );
 }
}
/* Media Query for Large Desktop Viewports*/
@media only screen and (min-width: 600px){
  body{
    background-image:linear-gradient(yellow, black);
  }
  #gradient{
    max-width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    }
  main{
    background-color: #e6e352;
  }
}
